*{
    box-sizing: border-box;
}

html,
body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.main-frame{
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    width: auto;
    height: auto;
    background: rgb(30,30,30,1);
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 6px rgba(0,0,0,0.4);
}

.main-frame ul{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.main-frame ul li{
    line-height: 32px;
    height: 32px;
    color: #eee;
    padding: 0 10px;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    font-size: 13px;
    width: 100%;
    cursor: default;
}

.main-frame ul li:hover{
    background: rgba(0, 110, 255, 0.7);
}

.main-frame ul li .icon{
    float: left;
    width: 16px;
    height: 16px;
    margin: 7px 0 0 0;
    background: url(./../css.png) no-repeat;
    background-size: cover;
}

.main-frame ul li .icon.css_2{
    background: url(./../css_2.png) no-repeat;
    background-size: cover;
}

.main-frame ul li .name{
    float: left;
    margin-left: 10px;
}

.main-frame ul li.separator{
    height: 1px;
    margin: 5px 0;
    padding: 0;
    width: 100%;
    background: rgba(100,100,100,0.2);
    padding: 0 10px;
    width: 100%;
    cursor: default;
}