* {
  box-sizing: border-box;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Segoe UI, Roboto, Oxygen, Ubuntu, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  color: rgb(236, 226, 212);
  font-size: 14px;
}

.main-frame {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  width: auto;
  height: auto;
  background: hsla(60, 2%, 14%, 1);
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2), 2px 2px 6px rgba(0, 0, 0, 0.1);
}

.main-frame .titlebar {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 105px;
  background: linear-gradient(
    to bottom,
    hsla(120, 2%, 21%, 1) 0%,
    hsla(120, 2%, 19%, 1) 100%
  );
  line-height: 40px;
  -webkit-app-region: drag;
  box-shadow: 0 1px 2px hsla(60, 2%, 13%, 1);
}

.main-frame .window-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 32px;
  text-align: center;
  font-family: Segoe UI, Roboto, Oxygen, Ubuntu, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 32px;
  color: rgb(236, 226, 212);
}

.main-frame .titlebar .window-close-button {
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  height: auto;
  padding: 0 15px;
  line-height: 32px;
  color: hsla(120, 2%, 61%, 1);
  font-size: 22px;
  cursor: default;
  border-bottom-left-radius: 4px;
  -ms-user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
}

.main-frame .titlebar .window-close-button:hover {
  background: hsla(120, 2%, 25%, 1);
}

.main-frame .titlebar .navbar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  -ms-user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
}

.main-frame .titlebar .navbar ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

.main-frame .titlebar .navbar ul li {
  width: 70px;
  height: 70px;
  padding: 10px 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  float: left;
}

.main-frame .titlebar .navbar ul li.right {
  float: right;
}

.main-frame .titlebar .navbar ul li.active {
  background: hsla(60, 2%, 7%, 0.28);
}

.main-frame .titlebar .navbar ul li .icon {
  width: 100%;
  height: 35px;
  line-height: 35px;
  text-align: center;
}

.main-frame .titlebar .navbar ul li .icon .icon-box {
  display: inline-block;
  width: 34px;
  height: 34px;
  text-align: center;
  border-radius: 5px;
  background: #fff;
  padding: 4px 0;
  border: 0.5px solid rgb(204, 204, 204);
  box-shadow: 0 0 3px hsla(60, 2%, 8%, 0.2), 1px 1px 3px hsla(60, 2%, 8%, 0.1);
}

.main-frame .titlebar .navbar ul li .icon .icon-box.general {
  background: linear-gradient(
    to bottom,
    hsla(0, 0%, 100%, 1) 0%,
    hsla(0, 0%, 95%, 1) 100%
  );
}

.main-frame .titlebar .navbar ul li .title {
  width: 100%;
  height: 30px;
  text-align: center;
  font-family: Segoe UI, Roboto, Oxygen, Ubuntu, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  font-size: 11px;
  font-weight: 400;
  line-height: 25px;
  color: rgb(236, 226, 212);
}

.main-frame .titlebar .navbar ul li.active .title {
  color: rgb(266, 266, 242);
}

.main-frame .titlebar .navbar ul li .icon .icon-box.general svg {
  display: inline-block;
  height: 18px;
  fill: rgb(15, 93, 238);
}

.main-frame .titlebar .navbar ul li .icon .icon-box.picker svg {
  display: inline-block;
  height: 18px;
  fill: rgb(238, 15, 52);
}

.main-frame .titlebar .navbar ul li .icon .icon-box.formats svg {
  display: inline-block;
  height: 18px;
  fill: #14c45e;
}

.main-frame .titlebar .navbar ul li .icon .icon-box.shortcuts svg {
  display: inline-block;
  height: 18px;
  fill: rgb(221, 121, 54);
}

.main-frame .titlebar .navbar ul li .icon .icon-box.about svg {
  display: inline-block;
  height: 18px;
}

.settings-frame {
  width: 100%;
  height: calc(100% - 40px);
  padding: 20px;
  display: none;
}

.settings-frame.visible {
  display: block;
}

.settings-frame hr {
  border: 0.5px solid hsla(60, 2%, 18%, 1);
  margin-top: 16px;
}

.settings-frame ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.settings-frame ul li {
  margin-top: 16px;
  width: 100%;
  display: flex;
}

.settings-frame ul li > .col-left {
  flex: 0 0 25%;
  text-align: right;
  padding: 0 20px;
  line-height: 30px;
}

.settings-frame ul li > .col-right {
  flex: 0 0 75%;
  text-align: left;
  line-height: 30px;
}

.settings-frame ul li label {
  margin-bottom: 6px;
}

.settings-frame ul li input[type="number"],
.settings-frame ul li select {
  width: 60px;
  border-radius: 4px;
  background: hsla(60, 2%, 10%, 0.5);
  padding: 0 10px;
  line-height: 30px;
  color: #fff;
  margin-left: 30px;
  margin-right: 10px;
  border: 1px solid hsla(60, 2%, 10%, 0.9);
  transition: 0.2s ease-in-out;
}

.settings-frame ul li select {
  width: 160px;
  height: 30px;
  margin-left: 0;
}

.settings-frame ul li input[type="number"]:focus,
.settings-frame ul li input[type="number"]:active,
.settings-frame ul li select:focus,
.settings-frame ul li select:active {
  outline: none;
  border: 1px solid hsla(272, 100%, 42%, 1);
  box-shadow: -4px -4px 0 hsla(272, 50%, 22%, 1),
    4px 4px 0 hsla(272, 50%, 22%, 1), -4px 4px 0 hsla(272, 50%, 22%, 1),
    4px -4px 0 hsla(272, 50%, 22%, 1);
}

.settings-frame ul li input[type="number"]:disabled,
.settings-frame ul li select:disabled {
  opacity: 0.5;
}

.settings-frame .icon {
  float: left;
  width: calc(25% - 20px);
  margin: 20px 0 20px 20px;
}

.settings-frame .icon img {
  height: 120px;
}

.settings-frame .drop-version {
  float: left;
  width: calc(75% - 20px);
  height: 100px;
  font-size: 35px;
  font-weight: bold;
  color: #fff;
  line-height: 50px;
  margin: 20px 20px 20px 0;
  padding-bottom: 20px;
  border-bottom: 1px solid hsla(60, 2%, 18%, 1);
}

.settings-frame .drop-version .version {
  color: hsla(60, 2%, 44%, 1);
  border-radius: 40px;
  font-size: 13px;
  line-height: 30px;
  font-weight: 400;
}

.settings-frame .drop-version span {
  color: #aaa;
  font-size: 10px;
  font-weight: normal;
  -webkit-user-select: text;
  -ms-user-select: text;
}

.settings-frame .drop-updater {
  float: left;
  width: calc(75% - 20px);
  margin-left: 25%;
  position: relative;
  top: 0;
  left: 0;
}

.settings-frame .drop-updater input[type="button"] {
  line-height: 35px;
  padding: 0 15px;
  border: 0 solid transparent;
  background: hsla(272, 100%, 42%, 1);
  border-radius: 3px;
  color: hsla(259, 74%, 95%, 1);
  font-size: 13px;
  font-weight: 500;
  margin: 0;
  box-shadow: 1px 1px 4px hsla(60, 2%, 8%, 0.3), 0 0 6px hsla(60, 2%, 8%, 0.1);
  transition: 0.1s ease-in-out;
  position: relative;
  top: 0;
  left: 0;
}

.settings-frame .drop-updater input[type="button"]:disabled {
  background: hsla(272, 100%, 46%, 1);
  color: hsla(259, 74%, 98%, 1);
  opacity: 0.6;
}

.settings-frame .drop-updater input[type="button"]:hover {
  background: hsla(272, 100%, 46%, 1);
  color: hsla(259, 74%, 98%, 1);
}

.settings-frame .drop-updater input[type="button"]:focus {
  outline: none;
}

.settings-frame .drop-updater input[type="button"]:active {
  background: hsla(272, 100%, 38%, 1);
  color: hsla(259, 74%, 98%, 1);
  box-shadow: inset 1px 1px 4px hsla(60, 2%, 8%, 0.3),
    inset 0 0 6px hsla(60, 2%, 8%, 0.1);
  outline: none;
}

.settings-frame .drop-updater label {
  margin-left: 20px;
  margin-top: 0;
  color: hsla(60, 2%, 74%, 1);
  line-height: 30px;
}

.settings-frame .drop-updater label[for="drop-btn-check-update"] {
  position: absolute;
  left: 140px;
  top: -2px;
  line-height: 18px;
}

.settings-frame
  .drop-updater
  label[for="drop-btn-check-update"]
  span#lastUpdateCheck {
  font-size: 10px;
}

#drop-framework-versions {
  position: absolute;
  bottom: 82px;
  left: 35px;
  width: 100%;
  line-height: 20px;
  color: rgb(82, 82, 74);
  font-size: 11px;
  letter-spacing: 0.6px;
}

#drop-framework-versions svg {
  display: inline-block;
  height: 15px;
  margin: 5px 10px 0 0;
}

#drop-framework-versions a {
  text-decoration: none;
  color: rgb(82, 82, 74);
  font-size: 13px;
  border-radius: 3px;
  padding: 4px 10px;
  border: 1px solid rgb(82, 82, 74);
}

#drop-framework-versions a:hover {
  background: rgb(82, 82, 74);
  color: #242423;
}

.shortcut-sidebar,
.formats-sidebar {
  float: left;
  width: 180px;
  height: calc(100% - 90px);
  margin: 5px;
  background: hsl(60, 2%, 10%, 1);
  border-radius: 3px;
  overflow: hidden;
}

.shortcut-sidebar ul,
.formats-sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.shortcut-sidebar ul li,
.formats-sidebar ul li {
  width: 100%;
  margin: 0;
  padding: 0 10px;
  line-height: 45px;
  font-size: 14px;
  border-bottom: 1px solid hsl(60, 2%, 13%, 1);
}

.shortcut-sidebar ul li:hover,
.formats-sidebar ul li:hover {
  background: hsl(60, 2%, 12%, 1);
}

.shortcut-sidebar ul li.active,
.formats-sidebar ul li.active {
  color: #fff;
  background: hsla(272, 100%, 26%, 1);
}

.shortcut-main-frame,
.formats-main-frame {
  float: left;
  margin: -10px -10px -10px 20px;
  width: calc(100% - 200px);
  height: calc(100% - 60px);
  padding: 0 10px 0 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.formats-main-frame {
  overflow: hidden;
}

/* width */
.shortcut-main-frame::-webkit-scrollbar,
.codeflask textarea::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.shortcut-main-frame::-webkit-scrollbar-track,
.codeflask textarea::-webkit-scrollbar-track,
.codeflask textarea::-webkit-scrollbar-corner,
.codeflask textarea::-webkit-scrollbar-track-piece {
  background: #262625;
  cursor: default;
}

/* Handle */
.shortcut-main-frame::-webkit-scrollbar-thumb,
.codeflask textarea::-webkit-scrollbar-thumb {
  background: #1a1a19;
  border-radius: 10px;
  border: 2px solid #262625;
  cursor: default;
}

/* Handle on hover */
.shortcut-main-frame::-webkit-scrollbar-thumb:hover,
.codeflask textarea::-webkit-scrollbar-thumb:hover {
  background: hsl(60, 2%, 12%, 1);
}

.shortcut-main-frame > ul,
.formats-main-frame > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  display: none;
}

.shortcut-main-frame > ul.visible,
.formats-main-frame > ul.visible {
  display: block;
}

.shortcut-main-frame ul li,
.formats-main-frame ul li {
  width: 100%;
  line-height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0;
  margin-top: 0;
}

.formats-main-frame ul li {
  justify-content: stretch;
  line-height: 10px;
}
.formats-main-frame ul li .format-title {
  margin-top: 5px;
}

.formats-main-frame ul li .sub-title {
  font-size: 11px;
  color: rgba(255, 255, 255, 0.6);
}

.formats-main-frame ul li .format-buttons {
  flex: 1 1 auto;
  text-align: right;
}

.formats-main-frame ul li .format-buttons .format-button {
  border: 1px solid #52524a;
  color: #52524a;
  border-radius: 3px;
  font-size: 13px;
  line-height: 24px;
  padding: 0 15px;
  background: transparent;
  margin-bottom: 5px;
  cursor: pointer;
}

.formats-main-frame ul li .format-buttons .format-button:hover {
  background: #52524a;
  color: #242423;
}

.formats-main-frame ul li .format-buttons .format-button:focus {
  outline: none;
}

.formats-main-frame ul li .format-buttons .format-button.save-changes {
  border: 0 solid transparent;
  background: hsla(272, 100%, 42%, 1);
  color: #fff;
}

.formats-main-frame ul li .format-buttons .format-button.save-changes:hover {
  background: hsla(272, 100%, 46%, 1);
  color: #fff;
}

.formats-main-frame ul li .format-buttons .format-button.save-changes:disabled {
  background: hsla(272, 100%, 46%, 0.5);
  color: #fff;
  cursor: not-allowed;
}

.formats-main-frame ul li .format-buttons .format-button.save-changes:active {
  background: hsla(272, 100%, 38%, 1);
  color: #fff;
  outline: none;
}

.formats-main-frame ul li .format-buttons .format-button.delete-format {
  border: 1px solid #f53022;
  color: #f53022;
}

.formats-main-frame ul li .format-buttons .format-button.delete-format:hover {
  background: #f53022;
  color: #fff;
}

.formats-main-frame ul li.editor {
  overflow: hidden;
  height: 240px;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  border: 0 solid transparent;
  line-height: normal;
  margin-top: 10px;
}

.codeflask {
  background: transparent;
}

.codeflask textarea {
  color: #1d1d1c;
  caret-color: #ff325e;
}

.formats-main-frame ul li:focus,
.formats-main-frame ul li:active {
  outline: none;
  border: 0 solid transparent;
}

.formats-main-frame .icon {
  float: left;
  width: 16px;
  height: 16px;
  margin: 25px 20px 20px 0;
  background: url(./../img/css.png) no-repeat;
  background-size: cover;
}

.formats-main-frame .icon[data-icon="css_2"] {
  background: url(./../img/css_new.png) no-repeat;
  background-size: cover;
}

.shortcut-main-frame > ul > li:first-child,
.formats-main-frame > ul > li:first-child {
  margin-top: 10px;
}

.shortcut-name {
  flex: 0 0 180px;
  text-align: left;
}

.shortcut-keys {
  flex: 1 1 auto;
  text-align: left;
  margin-left: 40px;
  background: hsl(60, 2%, 10%, 1);
  border-radius: 4px;
  height: 30px;
  border: 2px solid hsl(60, 2%, 10%, 1);
}

.shortcut-keys:hover {
  background: hsl(60, 2%, 12%, 1);
}

.shortcut-keys.shortcut-active {
  border: 2px solid hsla(272, 100%, 38%, 1);
}

.shortcut-keys ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.shortcut-keys ul li {
  float: left;
  margin: 3px 3px 0;
  padding: 0 8px;
  width: -webkit-fill-available;
  width: -moz-fit-content;
  width: fit-content;
  line-height: 18px;
  background: rgb(255, 252, 247);
  box-shadow: 0 3px 0 rgb(185, 183, 180);
  border-radius: 2px;
  color: #6b6b6b;
  font-size: 10px;
  font-weight: 600;
  pointer-events: none;
  min-width: 22px;
}

.shortcut-keys ul li svg {
  height: 12px;
  padding: 1px;
  margin: 3px 0;
}

/* CHECKBOX STYLING */

.settings-frame .settings-checkbox {
  display: block;
  position: relative;
  padding-left: 10px;
  margin-left: 20px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Hide the browser's default checkbox */
.settings-frame .settings-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.settings-frame .settings-checkbox .checkmark {
  position: absolute;
  top: 7px;
  left: -20px;
  height: 18px;
  width: 18px;
  border: 1.5px solid hsla(60, 2%, 24%, 1);
  border-radius: 3px;
  transition: 0.1s ease-in-out;
}

.settings-frame .shortcut-name .settings-checkbox {
  font-size: 12px;
}

.settings-frame .shortcut-name .settings-checkbox .checkmark {
  top: 10px;
  left: -20px;
}

/* On mouse-over, add a grey background color */
.settings-frame .settings-checkbox:hover input ~ .checkmark {
  border-color: hsla(60, 2%, 28%, 1);
}

/* When the checkbox is checked, add a blue background */
.settings-frame .settings-checkbox input:checked ~ .checkmark {
  background-color: hsla(272, 100%, 42%, 1);
  border-color: hsla(272, 100%, 42%, 1);
}

/* Create the checkmark/indicator (hidden when not checked) */
.settings-frame .settings-checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.settings-frame .settings-checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.settings-frame .settings-checkbox .checkmark:after {
  left: 5px;
  top: 2px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 1.5px 1.5px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: 0.2s 0.05s ease-in-out;
}
