<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Drop</title>
    <link href="./../assets/css/main.css" rel="stylesheet" />
  </head>
  <body>
    <div class="circle">
      <div class="inner-shadow"></div>
      <div class="selected-color">
        <div class="value" id="a"></div>
      </div>
      <table id="colorsquares"></table>
    </div>
    <script>
      require("./../render/PickerWindow/PickerWindow.js");
    </script>
  </body>
</html>
