*{
    box-sizing: border-box;
    user-select: none;
}

html,
body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.main-frame{
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    width: auto;
    height: auto;
    background: #1F1F1F;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 6px rgba(0,0,0,0.5);
}

.main-frame .selection .titlebar{
    width: calc(100% - 220px);
    float: left;
    height: 40px;
    -webkit-app-region: drag;
}

.main-frame .selection{
    width: 100%;
    height: 40px;
    background: #323539;
    line-height: 40px;
}

.main-frame .selection .picker-button .icon{
    float: left;
    margin: 12px;
    width: 16px;
    height: 16px;
    background: url(./../img/picker_icon.png) no-repeat center;
    background-size: cover;
    opacity: 0.4;
}

.main-frame .selection .window-options{
    width: 40px;
    text-align: center;
    float: right;
    height: 40px;
    line-height: 40px;
    color: #aaa;
    font-size: 22px;
    cursor: pointer;
}

.main-frame .selection .picker-button{
    width: 40px;
    text-align: center;
    float: left;
    height: 40px;
    line-height: 40px;
    color: #aaa;
    font-size: 22px;
    cursor: pointer;
}

.main-frame .selection .window-options:hover{
    background: #3B3F42;
}

.main-frame .selection .picker-button:hover{
    background: #3B3F42;
}

.main-frame .selection .select-box{
    position: relative;
    top: 0;
    right: 0;
    float: left;
    margin: 0 6px;
    width: 120px;
    color: rgba(255,255,255,0.8);
    line-height: 40px;
    height: 40px;
    padding: 0 8px;
    font-family: Segoe UI,Roboto,Oxygen,Ubuntu,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    font-size: 13px;
    cursor: pointer;
}

.main-frame .selection .select-box:hover{
    background-color: #3B3F42;
}

.main-frame .selection .select-box .icon{
    float: left;
    width: 20px;
    height: 20px;
    margin: 10px 0 0 0;
    border-radius: 50%;
    background-color: hsla(157,73%,54%,0.3);
    opacity: 1;
}

.main-frame .selection .select-box .icon .icon-img {
    width: 10px;
    height: 10px;
    margin: 5px;
    background: url(./../img/css.png) no-repeat center center;
    background-size: cover;
}

.main-frame .selection .select-box .icon.css_2{
    background-color: hsla(197,100%,60%,0.3);
}


.main-frame .selection .select-box .icon.css_2 .icon-img {
    width: 10px;
    height: 10px;
    margin: 5px;
    background: url(./../img/css_new.png) no-repeat center center;
    background-size: cover;
}

.main-frame .selection .select-box .name{
    float: left;
    margin-left: 8px;
}

.main-frame .selection .select-box .arrows {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

.main-frame .selection .select-box .arrows img{
    height: 10px;
    opacity: 0.3;
}

.main-frame .title{
    padding: 15px;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    font-size: 14px;
    color: #fff;
    cursor: default;
}

.main-frame .history{
    width: 100%;
    height: 60px;
    padding: 0 15px;
    line-height: 60px;
    overflow: hidden;
    white-space: nowrap;
}

.main-frame .history ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-frame .history #history-list {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    background: rgba(0,0,0,0.2);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
}

.main-frame .history ul li{
    display: inline-block;
    height: 40px;
    flex-grow: 1;
    flex-shrink: 0;
    transition: flex-grow 0.2s ease-in-out;
    border-top: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

.main-frame .history ul li:first-child{
    border-left: 1px solid rgba(255,255,255,0.1);
}

.main-frame .history ul li:last-child{
    border-right: 1px solid rgba(255,255,255,0.1);
}


.main-frame .history ul li:hover{
    flex-grow: 2;
}

.main-frame .history ul li:first-child{
    margin-left: 0;
}

.main-frame .history ul li.empty{
    display: none;
    background: transparent;
    background: rgba(0,0,0,0.9);
    width: 30px;
    height: 30px;
    border: 1.5px dashed rgba(200,200,200,0.2);
}

.main-frame .footer{
    width: 100%;
    height: 30px;
    background: #323539;
    line-height: 30px;
}
